.play-button,
.reset-button,
.save-button,
.load-button,
.select-template__button,
.select-random-template__button,
.menu-button,
.show-solution-button,
.go-back-btn {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  border-radius: 50px;
  border: 3px solid #fff;
  background-color: transparent;
  cursor: pointer;
  padding: 0.5em;

  &:hover {
    border-color: rgb(255, 202, 122);
  }
}

.play-button {
  padding-top: 2%;
  padding-bottom: 2%;
}

.reset-button,
.save-button,
.load-button,
.show-solution-button {
  border: 3px solid #000;
  color: #000;
}

.load-button[disabled] {
  border-color: rgb(214, 214, 214);
  color: rgb(214, 214, 214);
  cursor: not-allowed;
}

.select-template__button,
.select-random-template__button,
.btn {
  border: 3px solid #fff;
  color: #fff;
  font-size: 1.2em;
  margin-left: 5%;
  padding: 2%;
}

.go-back-btn {
  padding: 10%;
  margin-left: 0;
}

.select-random-template__button {
  width: 40%;
}

.select-random-template__button {
  margin-right: 0;
}

.menu-toggle {
  background: none;
  border: 2px solid #000;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  display: none;
  color: #000;
}

@media(max-width: 768px) {

  .reset-button,
  .save-button,
  .load-button,
  .show-solution-button {
    display: none;
  }

  .mobile-menu-btn {
    display: block;
  }

  .menu-toggle {
    display: block;
  }
}

@media(min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}